.vue-form-wizard .wizard-nav-pills {
    margin-top:0;
    position: relative;
    text-align: center;
    li,a{
      align-items: center;
      flex-wrap:wrap;
      flex-grow: 0;
    }
    a{
      display:flex;
    }
    > li > a.icon-title-wrap{
      display: flex;
      flex-direction: row;
      padding: 13px 0;
      gap: 8px;
      flex-wrap: nowrap;
      top: 0
    }
    > li > a {
        margin: 0 auto;
        color: $form-placeholder-color;
        position: relative;
        &:hover,
        &:focus{
            background-color: transparent;
            color: $form-placeholder-color;
            outline: 0 !important;
        }
      &.disabled {
        pointer-events: none;
        cursor: default;
      }
    }

    > li.active > a.icon-title-wrap,
    > li.active > a.icon-title-wrap:hover,
    > li.active > a.icon-title-wrap:focus {
        background-color: transparent;
        @include transition-font-size(.2s, linear);


        .wizard-icon{
            color: $white-color;
            display:flex;
            align-items:center;
            justify-content: center;
            font-size: $font-size;
            @include transition(.2s, linear);
        }
    }
}
