@import "bs_variables";

.vue-form-wizard *{
  box-sizing: border-box;
}
.vue-form-wizard a{
  text-decoration: none;
}

.wizard-nav-wrap {
  display: flex;
  justify-content: center;  
  box-shadow:rgba(122, 184, 203, 0.3) 0px 1px 20px 0px;
  > .scroll-btn{
    border: none;
    background: transparent;
    padding-right: 10px;
  }
}

.vue-form-wizard ul.wizard-nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: thin;
  display: flex;
  //@include clearfix;
  
  > li {
    position: relative;
    display: flex;
    flex-grow: 0;
    padding: 0 10px;
    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }
}

@media (pointer: fine) {
  .vue-form-wizard ul.wizard-nav{
    &::-webkit-scrollbar{
      width: 5px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(205, 205, 205);
    }
  }
}
